<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

</head>
<body >

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Roles com Permissões
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/rolePermissao/listar}">Pesquisa
						Role Permissões</a></li>
			</ul>
		</div>
		<div class="container">
		   <div class="tile">
		       <div class="tile-title">Registros</div>
		       <div class="tile-body">
		         <form class="form-horizontal" 
		               method="POST"
		               th:object="${rolePermissao}" 
		               th:action="${rolePermissao.id == null } ? @{/rolePermissao/salvar} : @{/rolePermissao/editar}">
		               <div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="form-group">
									<label for="roleId" class="control-label">Grupo</label>
									<select id="roleId"
											class="form-control"
											th:field="*{roleId}"
											th:classappend="${#fields.hasErrors('roleId')} ? 'is-invalid'" > 
											<option value="">Selecione o grupo de usuários</option>
											<option th:each="role : ${roles}"
													th:value="${role.id}" th:text="${role.nome}"
													>
											</option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{roleId}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="form-group">
									<label for="permissaoId" class="control-label">Permissão</label>
									<select id="permissaoId" 
											class="form-control"
											th:field="*{permissaoId}"
											th:classappend="${#fields.hasErrors('permissaoId')} ? 'is-invalid'"> 
										<option value="">Selecione as permissões para o grupo</option>
										<option th:each="permissao : ${permissoes}"
												th:value="${permissao.id}" th:text="${permissao.nome}">
										</option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{permissaoId}"></span>
									</div>
								</div>
							</div>
						</div>
		              <div class="row">
		              	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="dataCadastro" class="control-label">Data Cadastro:</label>
		                        <input type="text" 
		                               id="dataCadastro" 
		                               name="dataCadastro" 
		                               class="form-control"
		                               th:field="*{dataCadastro}"
		                               th:classappend="${#fields.hasErrors('dataCadastro')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{dataCadastro}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		             
		             
		             <input type="hidden" id="id" th:field="*{id}" />
		                     
		             <div class="tile-footer">
		             	  <div class="col-lg-offset-2 col-md-offset-2">
		             	  		<button type="submit" class="btn btn-primary"
		             	  		        name="action" value="salvar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top"
		             	  		        title="Salvar o cadastro do registro">
		             	  		        <b>Salvar</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
		             	  		</button>
		             	  		<button type="submit" class="btn btn-secondary"
		             	  		        name="action" value="cancelar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top" formnovalidate="formnovalidate"
		             	  		        title="Cancelar o cadastro do registro">
		             	  		        <b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>
		             	  		
		             	  		</button>
		             
		             	  
		             	  </div>
		             </div> 
		         </form>
		       </div>
		   
		   </div>
		
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script>
		    $('#dataCadastro').mask('00/00/000');
		    $('#dataCadastro').datepicker({
		    	orientation:'bottom',
		    	language:'pt-BR',
		    	autoclose: true,
		    	todayHighlight:true
		    });
		
		</script>
	</th:block>
</body>
</html>