<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Pessoas
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/pessoa/listar}">Pesquisa
						Pessoa</a></li>
			</ul>
		</div>
		<div class="container">
		   <div class="tile">
		       <div class="tile-title">Registros</div>
		       <div class="tile-body">
		         <form class="form-horizontal" 
		               method="POST"
		               th:object="${pessoa}" 
		               th:action="@{/pessoa/excluir}">
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
		                     <div class="form-group">
		                        <label for="nome" class="control-label">Nome da Pessoa:</label>
		                        <input type="text" 
		                               id="nome" 
		                               name="nome" 
		                               class="form-control"
		                               th:field="*{nome}"
		                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{nome}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-10">
		                     <div class="form-group">
		                        <label for="logradouro" class="control-label">Logradouro:</label>
		                        <input type="text" 
		                               id="logradouro" 
		                               name="logradouro" 
		                               class="form-control"
		                               th:field="*{endereco.logradouro}"
		                               th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{endereco.logradouro}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		                 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
		                     <div class="form-group">
		                        <label for="numero" class="control-label">Número:</label>
		                        <input type="text" 
		                               id="numero" 
		                               name="numero" 
		                               class="form-control"
		                               th:field="*{endereco.numero}"
		                               th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{endereco.numero}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		         	 <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="complemento" class="control-label">Complemento:</label>
		                        <input type="text" 
		                               id="complemento" 
		                               name="complemento" 
		                               class="form-control"
		                               th:field="*{endereco.complemento}"
		                               th:classappend="${#fields.hasErrors('endereco.complemento')} ? 'is-invalid'"/>
		                         <div class="invalid-feedback">
                                     <span th:errors="*{endereco.complemento}"></span>		          	              
		                        </div>       
		                     </div>
		                 </div>
		             	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="bairro" class="control-label">Bairro:</label>
		                        <input type="text" 
		                               id="bairro" 
		                               name="bairro" 
		                               class="form-control"
		                               th:field="*{endereco.bairro}"
		                               th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{endereco.bairro}"></span>		          	              
		                        </div> 
		                     </div>
		                 </div>
		             </div>
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
		                     <div class="form-group">
		                        <label for="cidade" class="control-label">Cidade:</label>
		                        <input type="text" 
		                               id="cidade" 
		                               name="cidade" 
		                               class="form-control"
		                               th:field="*{endereco.cidade}"
		                               th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{endereco.cidade}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>    
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="cep" class="control-label">Cep:</label>
		                        <input type="text" 
		                               id="cep" 
		                               name="cep" 
		                               class="form-control"
		                               th:field="*{endereco.cep}"
		                               th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
		                         <div class="invalid-feedback">
                                     <span th:errors="*{endereco.cep}"></span>		          	              
		                        </div>       
		                     </div>
		                 </div>
		             	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="estado" class="control-label">Estado:</label>
		                        <input type="text" 
		                               id="estado" 
		                               name="estado" 
		                               class="form-control"
		                               th:field="*{endereco.estado}"
		                               th:classappend="${#fields.hasErrors('endereco.estado')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{endereco.estado}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		              <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="dataCadastro" class="control-label">Data Cadastro:</label>
		                        <input type="text" 
		                               id="dataCadastro" 
		                               name="dataCadastro" 
		                               class="form-control"
		                               th:field="*{dataCadastro}"
		                               th:classappend="${#fields.hasErrors('dataCadastro')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{dataCadastro}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             	 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="dataNascimento" class="control-label">Data Nascimento:</label>
		                        <input type="text" 
		                               id="dataNascimento" 
		                               name="dataNascimento" 
		                               class="form-control"
		                               th:field="*{dataNascimento}"
		                               th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{dataNascimento}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
		                     <div class="form-group">
		                        <label for="ativo" class="control-label">Status:</label>
		                        <input type="checkbox" 
		                               id="ativo" 
		                               name="ativo" 
		                               class="form-control js-status"
		                               data-off-color="danger"
		                               data-on-text="Ativo"
		                               data-off-text="Inativo"
		                               th:field="*{ativo}"/> 
		                     </div>
		                 </div>
		             </div> 
		             
		             <input type="hidden" 
		                    id="id" 
		                    th:field="*{id}"> 
		                     
		             <div class="tile-footer">
		             	  <div class="col-lg-offset-2 col-md-offset-2">
		             	  		<button type="submit" class="btn btn-primary"
		             	  		        name="action" value="salvar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top"
		             	  		        title="Excluir o cadastro do registro">
		             	  		        <b>Excluir</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
		             	  		</button>
		             	  		<button type="submit" class="btn btn-secondary"
		             	  		        name="action" value="cancelar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top" formnovalidate="formnovalidate"
		             	  		        title="Cancelar o cadastro do registro">
		             	  		        <b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>
		             	  		
		             	  		</button>
		             
		             	  
		             	  </div>
		             </div> 
		         </form>
		       </div>
		   
		   </div>
		
		</div>




	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/mascara-sistema.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		
		<script>
		    $('.js-status').bootstrapSwitch();
		</script>
	</th:block>
	
</body>
</html>