<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}">
</head>
<body>

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Telefone
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/telefone/listar}">Pesquisa
						Telefone</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="tile">
				<div class="tile-title">Registros</div>
				<div class="tile-body">
					<form class="form-horizontal" method="POST" 
						  th:object="${telefone}"
						  th:action="${telefone.id == null } ? @{/telefone/salvar} : @{/telefone/editar}">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
								<div class="form-group">
									<label for="tipoTelefone" class="control-label">Tipo:</label>
									<select id="tipoTelefone" name="tipoTelefone"
										class="form-control" th:field="*{tipoTelefone}"
										th:classappend="${#fields.hasErrors('tipoTelefone')} ? 'is-invalid'">

										<option value="">Selecione um modelo...</option>
										<option th:each="tSelecionado : ${tipos}"
											th:value="${tSelecionado.siglaContato}" th:text="${tSelecionado.nomeContato}"></option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{modeloTelefone}"></span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
								<div class="form-group">
									<label for="modeloTelefone" class="control-label">Modelo:</label>
									<select id="modeloTelefone" name="modeloTelefone"
										class="form-control" th:field="*{modeloTelefone}"
										th:classappend="${#fields.hasErrors('modeloTelefone')} ? 'is-invalid'">

										<option value="">Selecione um modelo...</option>
										<option th:each="mSelecionado : ${modelos}"
											th:value="${mSelecionado.tipo}" th:text="${mSelecionado.nomeTipo}"></option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{modeloTelefone}"></span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
								<div class="form-group">
									<label for="numeroTelefone" class="control-label">Número:</label>
									<input type="text" id="numeroTelefone" name="numeroTelefone"
										class="form-control" th:field="*{numeroTelefone}"
										th:classappend="${#fields.hasErrors('numeroTelefone')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{numeroTelefone}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<div class="form-group">
									<label for="pessoa" class="control-label">Pessoa:</label> 
									<select
										id="pessoa" 
										name="pessoa"
										class="form-control"
										th:field="*{pessoa_id}"
										th:classappend="${#fields.hasErrors('pessoa_id')} ? 'is-invalid'">

										<option value="">Selecione uma pessoa...</option>
										<option th:each="pSelecionado : ${pessoas}"
											th:value="${pSelecionado.id}"
											th:text="${pSelecionado.nome}"></option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{pessoa_id}"></span>
									</div>
								</div>
							</div>
						</div>


						<input type="hidden" id="id" th:field="*{id}">

						<div class="tile-footer">
							<div class="col-lg-offset-2 col-md-offset-2">
								<button type="submit" class="btn btn-primary" name="action"
									value="salvar" data-toggle="tooltip" data-placement="top"
									title="Salvar o cadastro do registro">
									<b>Salvar</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
								</button>
								<button type="submit" class="btn btn-secondary" name="action"
									value="cancelar" data-toggle="tooltip" data-placement="top"
									formnovalidate="formnovalidate"
									title="Cancelar o cadastro do registro">
									<b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>

								</button>


							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/mascara-sistema.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>

		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>

</body>
</html>