<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de usuarios
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/usuario/listar}">Pesquisa
						usuario</a></li>
			</ul>
		</div>
		<div class="container">
		   <div class="tile">
		       <div class="tile-title">Registros</div>
		       <div class="tile-body">
		         <form class="form-horizontal" 
		               method="POST"
		               th:object="${usuario}" 
		               th:action="@{/usuario/excluir}">
		           
		           <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
		                     <div class="form-group">
		                        <label for="nome" class="control-label">Nome de usuario:</label>
		                        <input type="text" 
		                               id="nome" 
		                               name="nome" 
		                               class="form-control"
		                               th:field="*{nome}"
		                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{nome}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-8">
		                     <div class="form-group">
		                        <label for="email" class="control-label">Email:</label>
		                        <input type="email" 
		                               id="email" 
		                               name="email" 
		                               class="form-control"
		                               th:field="*{email}"
		                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{email}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
		                     <div class="form-group">
		                        <label for="senha" class="control-label">Senha:</label>
		                        <input type="password" 
		                               id="senha" 
		                               name="senha" 
		                               value="123"
		                               class="form-control"
		                               th:field="*{senha}"
		                               th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{senha}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		              <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="ultimoAcesso" class="control-label">Data último acesso:</label>
		                        <input type="text" 
		                               id="ultimoAcesso" 
		                               name="ultimoAcesso" 
		                               class="form-control"
		                               th:field="*{ultimoAcesso}"
		                               th:classappend="${#fields.hasErrors('ultimoAcesso')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{ultimoAcesso}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
		                     <div class="form-group">
		                        <label for="ativo" class="control-label">Status:</label>
		                        <input type="checkbox" 
		                               id="ativo" 
		                               name="ativo" 
		                               class="form-control js-status"
		                               data-off-color="danger"
		                               data-on-text="Ativo"
		                               data-off-text="Inativo"
		                               th:field="*{ativo}"/> 
		                     </div>
		                 </div>
		             </div>
		             
		             <input type="hidden" 
		                    id="id" 
		                    th:field="*{id}"> 
		                     
		             <div class="tile-footer">
		             	  <div class="col-lg-offset-2 col-md-offset-2">
		             	  		<button type="submit" class="btn btn-primary"
		             	  		        name="action" value="salvar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top"
		             	  		        title="Excluir o cadastro do registro">
		             	  		        <b>Excluir</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
		             	  		</button>
		             	  		<button type="submit" class="btn btn-secondary"
		             	  		        name="action" value="cancelar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top" formnovalidate="formnovalidate"
		             	  		        title="Cancelar o cadastro do registro">
		             	  		        <b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>
		             	  		
		             	  		</button>
		             
		             	  
		             	  </div>
		             </div> 
		         </form>
		       </div>
		   
		   </div>
		
		</div>




	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/mascara-sistema.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		
		<script>
		    $('.js-status').bootstrapSwitch();
		</script>
	</th:block>
	
</body>
</html>