<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
	
</head>
<body>

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-th-list"></i>Registros Cadastrados
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
				<li class="breadcrumb-item active"><a th:href="@{/}">Página
						Principal</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="tile">
				<div class="tile-title">Listagem de tipo de transacao</div>
				<div class="tile-body">
					<table id="table"
						class="table col-sm-12 table-striped table-bordered table-hover table-collapse">
						<thead>
							<tr class="bg-secondary text-white">
								<td style="width: 20px; font-weight: bold; text-align: center;">Id</td>
								<td style="width: 50px; font-weight: bold; text-align: center;">Descricao</td>
								<td style="width: 100px; font-weight: bold; text-align: center;">Ações</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tipoTransacao :${listaTipoTransacaos}">
								<td style="width: 20px; font-weight: bold; text-align: center;" th:text="${tipoTransacao.id}">1</td>
								<td style="width: 50px; font-weight: bold;" th:text="${tipoTransacao.descricao}">Roberto</td>
								<td style="width: 100px; text-align: center;">
								   <a id="btnUpdate" class="btn btn-info btn-sm"
									title="Alterar dados da tipoTransacao"
									th:href="@{/tipoTransacao/editar/{id}(id=${tipoTransacao.id})}"> <i class="fa fa-pencil"></i>
								</a> 
								<a id="btnExcluir" class="btn btn-danger btn-sm"
									title="Excluir dados da tipoTransacao"
									th:href="@{/tipoTransacao/excluir/{id}(id=${tipoTransacao.id})}"> <i class="fa fa-trash"></i>
								</a> <a id="btnConsultar" class="btn btn-success btn-sm"
									title="Consultar dados da tipoTransacao"
									th:href="@{/tipoTransacao/consultar/{id}(id=${tipoTransacao.id})}"> <i
										class="fa fa-search-plus"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<a id="btnIncluir" class="btn btn-info"
					title="Incluir dados da tipoTransacao"
					th:href="@{/tipoTransacao/cadastrar}"> <b>Incluir</b> <i
					class="fa fa-plus-circle"></i>
				</a>

			</div>

		</div>



	</section>

	<th:block layout:fragment="javascript-extra">
		<script>
		   $(function(){
			  $('[data-toggle="popover"]').popover();
		   });
		</script>
	</th:block>
</body>
</html>