<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body >
	<header class="app-header" th:fragment="cabecalho">
      	<a class="app-header__logo" th:href="@{/}">Financeiro</a>
      	<a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
	     <ul class="app-nav">
	        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
	          <ul class="dropdown-menu settings-menu dropdown-menu-right">
	            <li><a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
	          </ul>
	        </li>
	     </ul>
	</header>
</body>
</html>