<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav id="sidebar" th:fragment="nav-sidebar">
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">Nome Usuário</p>
          <p class="app-sidebar__user-designation">Java Developers</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" th:href="@{/pessoa/cadastrar}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Pessoas</span></a></li>
        <li><a class="app-menu__item" th:href="@{/usuario/cadastrar}"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Usuários</span></a></li>
        <li><a class="app-menu__item" th:href="@{/role/cadastrar}"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Roles</span></a></li>
        <li><a class="app-menu__item" th:href="@{/permissao/cadastrar}"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Permissões</span></a></li>
        <li><a class="app-menu__item" th:href="@{/rolePermissao/cadastrar}"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Role Permissão</span></a></li>
        <li><a class="app-menu__item" th:href="@{/telefone/cadastrar}"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Telefones</span></a></li>
      </ul>
    </aside>
	</nav>
</body>
</html>