<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <title>Home</title>
  </head>
  <body>
    <section layout:fragment="corpo">
      <div class="app-title">
      	<div>
      		<h1><i class="fa fa-dashboard"></i>Página Principal</h1>
      	</div>
      	<ul class="app-breadcrumb breadcrumb">
      		<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      		<li class="breadcrumb-item"><a href="#">Página Principal</a></li>
      	</ul>
      </div>
    </section>
   
  </body>
</html>