<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Sistema Financeiro</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body class="app sidebar-mini rtl">

	<header th:replace="fragments/header :: cabecalho"></header>
	
	<aside>
		<nav th:replace="fragments/sidebar :: nav-sidebar"></nav>
	</aside>
	
	<div class="app-content">
		<section layout:fragment="corpo"></section>
	</div>
	
	<!--  <footer th:replace="fragments/footer :: rodape"></footer> -->

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins/jquery.mask.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/plugins/pace.min.js}"></script>
	
	<th:block layout:fragment="javascript-extra"></th:block>
	
</body>
</html>