<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}">
</head>
<body>

	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Caixa
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/caixa/listar}">Pesquisa
						Caixa</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="tile">
				<div class="tile-title">Registros</div>
				<div class="tile-body">
					<form class="form-horizontal" method="POST" 
						  th:object="${caixa}"
						  th:action="@{/caixa/excluir}">
					<div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
		                     <div class="form-group">
		                        <label for="nome" class="control-label">Descricao:</label>
		                        <input type="text" 
		                               id="caixaDescricao" 
		                               name="caixaDescricao" 
		                               class="form-control"
		                               th:field="*{caixaDescricao}"
		                               th:classappend="${#fields.hasErrors('caixaDescricao')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{caixaDescricao}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
	
						<input type="hidden" id="id" th:field="*{id}">

						<div class="tile-footer">
							<div class="col-lg-offset-2 col-md-offset-2">
								<button type="submit" class="btn btn-primary" name="action"
									value="salvar" data-toggle="tooltip" data-placement="top"
									title="Salvar o cadastro do registro">
									<b>Excluir</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
								</button>
								<button type="submit" class="btn btn-secondary" name="action"
									value="cancelar" data-toggle="tooltip" data-placement="top"
									formnovalidate="formnovalidate"
									title="Cancelar o cadastro do registro">
									<b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>

								</button>


							</div>
						</div>
					</form>
				</div>

			</div>

		</div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/mascara-sistema.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>

		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>

</body>
</html>