<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Financeiro</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}">
</head>
<body class="app sidebar-mini rtl">

	<div class="app-content">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de cargos
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a th:href="@{/cargo/listar}">Pesquisa
						cargo</a></li>
			</ul>
		</div>
		<div class="container">
		   <div class="tile">
		       <div class="tile-title">Registros</div>
		       <div class="tile-body">
		         <form class="form-horizontal" 
		               method="POST"
		               th:object="${cargo}" 
		               th:action="@{/cargo/consultar}">
		             <div class="row">
		                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
		                     <div class="form-group">
		                        <label for="nome" class="control-label">Nome do cargo:</label>
		                        <input type="text" 
		                               id="nome" 
		                               name="nome" 
		                               class="form-control"
		                               th:field="*{nome}"
		                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
		                        <div class="invalid-feedback">
                                     <span th:errors="*{nome}"></span>		          	              
		                        </div>        
		                     </div>
		                 </div>
		             </div>
		             
		             
		             <input type="hidden" 
		                    id="id" 
		                    th:field="*{id}"> 
		                     
		             <div class="tile-footer">
		             	  <div class="col-lg-offset-2 col-md-offset-2">
		             	  		<button type="submit" class="btn btn-primary"
		             	  		        name="action" value="salvar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top"
		             	  		        title="Excluir o cadastro do registro">
		             	  		        <b>Excluir</b><span class="fa fa-fw fa-lg fa-check-circle"></span>
		             	  		</button>
		             	  		<button type="submit" class="btn btn-secondary"
		             	  		        name="action" value="cancelar"
		             	  		        data-toggle="tooltip" 
		             	  		        data-placement="top" formnovalidate="formnovalidate"
		             	  		        title="Cancelar o cadastro do registro">
		             	  		        <b>Cancelar</b><span class="fa fa-fw fa-lg fa-times-circle"></span>
		             	  		
		             	  		</button>
		             
		             	  
		             	  </div>
		             </div> 
		         </form>
		       </div>
		   
		   </div>
		
		</div>




	</div>


	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins/jquery.mask.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/plugins/pace.min.js}"></script>
	<script th:src="@{/js/mascara-sistema.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
	
	<script th:src="@{/js/bootstrap-switch.min.js}"></script>
	
	<script>
	    $('.js-status').bootstrapSwitch();
	</script>
	
	
	
	
</body>
</html>